<div fxLayout="column" fxLayoutAlign="start start" class="w-full">
    <div fxLayout="row" fxLayoutAlign="start center" class="w-full">
        <ng-select fxFlex class="custom-tags"
                   (change)="setRol($event)"
                   [placeholder]="placeholder+(required ? ' *':'')"
                   [attr.required]="required"
                   [items]="rol$ | async"
                   [multiple]="multiple"
                   [hideSelected]="true"
                   bindLabel="role_display"
                   bindValue="id"
                   [(ngModel)]="modelRol"
                   [closeOnSelect]="true"
                   [loading]="rolLoading"
                   [readonly]="readonly"
                   [typeahead]="rolInput$"
                   [disabled]="disabled"
                   [ngClass]="{'ng-select-error': (control && serverErrors && control.invalid), 'bgcolor_white': bgWhite, 'multiple':multiple, 'heightAuto':heightAuto}">
            <ng-template ng-optgroup-tmp let-item="item">
        <span fxLayout="row" fxLayoutAlign="start center">
            <span>{{item.role_display}}</span>
        </span>
            </ng-template>
            <ng-template ng-label-tmp let-item="item" let-clear="clear" *ngIf="multiple">
                <mat-chip-listbox aria-label="Selecció rol">
                    <mat-chip-option
                        [selectable]="true"
                        [removable]="true"
                        matChipRemove
                        (removed)="!readonly ? clear(item) : ''">
                        {{item.role_display}}
                        <mat-icon>cancel</mat-icon>
                    </mat-chip-option>
                </mat-chip-listbox>
            </ng-template>
            <ng-template ng-label-tmp ng-option-tmp let-item="item" *ngIf="!multiple">
                <span>{{ item.role_display}}</span>
            </ng-template>
        </ng-select>
    </div>
    <mat-error *ngIf="control && serverErrors">
        <app-bcn-error
            [serverErrors]="serverErrors"
            [control]="control"
        ></app-bcn-error>
    </mat-error>
</div>
