<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plato
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plates" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/plates/'+recipe.id+'/edit']">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert
    trigger="present-delete-alert"
    header="¿Estás seguro?"
    [buttons]="alertButtons"
    (didDismiss)="delete($event)"
  ></ion-alert>

  <div class="plate-detail-image"
    [ngStyle]="{'background-image': 'url(' + recipe.image_data.image + ')'}">
  </div>


  <div class="plate-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2 class="plate-title">
            {{recipe.name}}
          </h2>
          </ion-col>
          <ion-col size="auto">
            <ion-button id="present-delete-alert" fill="outline" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-icon name="time-outline" class="plate-time-clock"></ion-icon>
          {{recipe.time}} min
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="plate-description">
          {{recipe.description}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-segment color="dark" value="dark" class="plate-segment">
      <ion-segment-button value="dark">
        <ion-label>Ingredientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Pasos</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list lines="none">
      <ion-item style="margin: 10px auto;">
        <ion-card style="width: 100%;margin: 0px">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <div class="ingredient-image"
                  style="background-image: url('https://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03/202104/14/00118003501204____7__600x600.jpg');"
                  ></div>
                </ion-col>
                <ion-col>
                  <h4>Macarrones</h4>
                </ion-col>
                <ion-col size="auto">
                  90 gr
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card style="width: 100%;margin: 0px">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <div class="ingredient-image"
                  style="background-image: url('https://petramora.com/cdn/shop/products/W-10000166-picada-de-ternera.jpg?crop=center&height=2433&v=1660228714&width=1946');"
                  ></div>
                </ion-col>
                <ion-col>
                  <h4>Carne</h4>
                </ion-col>
                <ion-col size="auto">
                  100 gr
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card>
      </ion-item>
    </ion-list>

    
  </div>

</ion-content>
