.plate-name{
    width: fit-content;
}

.categories{
    overflow: auto;
    white-space: nowrap;
}

.md{
    .categories{
        margin: 10px 0px;
    }
}

.ios{
    .categories{
        margin-bottom: 10px;
    }
}

.categories::-webkit-scrollbar {
    display: none;
}

.plate-image{
    width:370px;
    height:170px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}