<div fxLayout="column" fxLayoutAlign="start start" class="w-full">
    <ng-select
        class="custom-tags"
        appendTo="body"
        (change)="setPortalsGeo($event)"
        [placeholder]="placeholder + (required ? ' *' : '')"
        [attr.required]="required"
        [items]="portalsGeo$ | async"
        [multiple]="multiple"
        [hideSelected]="true"
        bindLabel="numeracioPostal"
        bindValue="id"
        [(ngModel)]="modelPortalsGeo"
        [closeOnSelect]="true"
        [loading]="portalsGeoLoading"
        [typeahead]="portalsGeoInput$"
        [ngClass]="{
            'ng-select-error': control && serverErrors && control.invalid
        }"
    >
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
            <span fxLayout="row" fxLayoutAlign="start center">
                <span>{{ item.numeracioPostal }}</span>
            </span>
        </ng-template>
    </ng-select>
    <div class="ng-select-error-message" *ngIf="control && serverErrors">
        <app-bcn-error
            [serverErrors]="serverErrors"
            [control]="control"
        ></app-bcn-error>
    </div>
</div>
