.plate-name{
    width: fit-content;
}

.categories{
    overflow: auto;
    white-space: nowrap
}

.categories::-webkit-scrollbar {
    display: none;
}

.plate-image{
    width:100%;
    height:170px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}