<div class="content-date-time-picker">
  <div [ngClass]="color">
    <mat-form-field floatLabel="always" [ngClass]="{'mat-form-field-invalid':(control && serverErrors && control.invalid)}" class="no-padding">
      <input matInput [ngModel]="prettyDatetime" [placeholder]="placeholder+(required ? ' *':'')" ngDefaultControl [readonly]="true">
      <input type="hidden" [matDatepicker]="picker" (dateChange)="dateChange($event)">
      <div matSuffix fxLayout="row">
        <mat-datepicker-toggle *ngIf="['date', 'datetime'].includes(type)"
                              [for]="picker"></mat-datepicker-toggle>
        <ngx-material-timepicker-toggle  *ngIf="['time', 'datetime'].includes(type)"
                                        [for]="timepicker"></ngx-material-timepicker-toggle>
      </div>

      <mat-datepicker #picker></mat-datepicker>
      <ngx-material-timepicker #timepicker [format]="24" (timeSet)="timeChange($event)"></ngx-material-timepicker>
    </mat-form-field>
    <div class="mat-form-field-subscript-wrapper" *ngIf="!serverErrors">
      <mat-hint *ngIf="color === 'datetime-ok'" [ngClass]="color" class="hint font-size-12 text-italic">No ha caducat</mat-hint>
      <mat-hint *ngIf="color === 'datetime-warn'" [ngClass]="color" class="hint font-size-12 text-italic">A prop de caducar</mat-hint>
      <mat-hint *ngIf="color === 'datetime-danger'" [ngClass]="color" class="hint font-size-12 text-italic">Caducat</mat-hint>
    </div>
    <div class="mat-form-field-subscript-wrapper" *ngIf="control && serverErrors">
      <mat-error>
        <app-bcn-error [serverErrors]="serverErrors"
                      [control]="control"></app-bcn-error>
      </mat-error>
    </div>
  </div>
</div>
