<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <ng-select fxFlex class="custom-tags"
                appendTo="body"
               (change)="setIndrets($event)"
               [placeholder]="placeholder+(required ? ' *':'')"
               [attr.required]="required"
               [items]="indrets$ | async"
               [multiple]="multiple"
               [hideSelected]="true"
               bindLabel="{{nameLabel ? 'fullLabel': 'name'}}"
               bindValue="id"
               [(ngModel)]="modelIndrets"
               [closeOnSelect]="true"
               [loading]="indretsLoading"
               [typeahead]="indretsInput$"
               [disabled]="disabled"
               [ngClass]="{'ng-select-error': (control && serverErrors && control.invalid), 'bgcolor_white': bgWhite, 'multiple':multiple}">
        <ng-template ng-optgroup-tmp let-item="item">
        <span fxLayout="row" fxLayoutAlign="start center">
             <ng-template [ngIf]="nameLabel">
                 <span>   {{item.fullLabel}}</span>
            </ng-template>
            <ng-template [ngIf]="!nameLabel">
                <span>{{item.name}}</span>
            </ng-template>
        </span>
        </ng-template>
        <ng-template ng-label-tmp let-item="item" let-clear="clear" *ngIf="multiple">
            <mat-chip-listbox aria-label="Selecció usuaris">
                <mat-chip [removable]="true"
                          (removed)="clear(item)">
                    <ng-template [ngIf]="nameLabel">
                        {{item.fullLabel}}
                    </ng-template>
                    <ng-template [ngIf]="!nameLabel">
                        {{item.name}}
                    </ng-template>

                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-listbox>
        </ng-template>
        <ng-template ng-label-tmp ng-option-tmp let-item="item" *ngIf="!multiple">
            <ng-template [ngIf]="nameLabel">
                {{item.fullLabel}}
            </ng-template>
            <ng-template [ngIf]="!nameLabel">
                {{item.name}}
            </ng-template>
        </ng-template>
    </ng-select>
</div>
<div class="ng-select-error-message" *ngIf="control && serverErrors">
    <app-bcn-error
        [serverErrors]="serverErrors"
        [control]="control"
    ></app-bcn-error>
</div>
