<div class="page-layout simple full-width p-10">
    <!-- CONTENT -->
    <div class="content">
        <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="space-between top">
        <div class="hero-text">
        </div>
        <div class="actions" fxLayoutGap="10px" fxFlex="40">
            <button (click)="createMasterTable()"
                    *ifAllowed="'general_master_tables.create'"
                    mat-raised-button color="accent" id="create_new">
                <mat-icon aria-label="nou contacte">add</mat-icon>
                Crear
            </button>

        </div>
    </div>
    <!-- / HEADER -->
        <app-general-master-tables-table [reloadTable]="reload"></app-general-master-tables-table>
    </div>
    <!-- / CONTENT -->

</div>
