<form
    #formElement
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="100"
    name="form"
    class="p-5"
    [formGroup]="inputFormService.form.get('data')"
    *ngIf="inputFormService.form.get('data')"
>
    <div fxLayoutAlign="end">
        <button
            class="mb-5"
            type="submit"
            mat-raised-button
            [disabled]="!inputFormService.form.get('data.is_active').value"
            (click)="addContact()"
        >
            Afegir contacte
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-accordion [formGroup]="inputFormService.form.get('data')">
        <div formArrayName="indret_contacts">
            <mat-expansion-panel
                [expanded]="true"
                *ngFor="
                    let contact of inputFormService.form.get(
                        'data.indret_contacts'
                    )['controls'] | slice : 1;
                    let i = index
                "
                [formGroupName]="i + 1"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="w-full flex items-center justify-between">
                            <div class="items-center justify-center">
                                <mat-icon
                                    class="error"
                                    *ngIf="this.errors && this.errors[index]"
                                    [svgIcon]="
                                        'heroicons_outline:exclamation-circle'
                                    "
                                ></mat-icon>
                                <span *ngIf="this.exAutocompleteComponent && this.exAutocompleteComponent.selectData.length>0">{{ this.getName(contact, i + 1) }} </span>
                            </div>
                            <button
                                type="button"
                                mat-icon-button
                                [disabled]="!inputFormService.form.get('data.is_active').value"
                                (click)="deleteContact(i + 1)"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex gap-4" fxLayout.lt-sm="column">
                    <div
                        fxLayout="column"
                        fxFlex="20"
                        fxFlex.lt-sm="100"
                        fxLayoutAlign="start start"
                        fxLayoutGap="10px"
                    >
                        <div class="mb-0">
                            <mat-label>Àmbit *</mat-label>
                        </div>
                        <app-select-autocomplete
                            class="w-full"
                            placeholder="{{ 'Seleccioni un valor' }}"
                            fxFlex="30"
                            formControlName="scope_is_alimentary"
                            [required]="true"
                            [bgWhite]="true"
                            [disabled]="!inputFormService.form.get('data.is_active').value"
                            [multiple]="false"
                            [data]="[
                                { id: true, name: 'Alimentari' },
                                { id: false, name: 'Ambiental' }
                            ]"
                            [control]="contact.scope_is_alimentary"
                            (change)="changeIsAlimentary(i + 1, $event)"
                            [matMinLength]="0"
                            [serverErrors]="getError(i,'scope_is_alimentary')"
                            #alimentari
                            >
                        </app-select-autocomplete>
                    </div>

                    <div
                        fxLayout="column"
                        fxFlex="30"
                        fxFlex.lt-sm="100"
                        fxLayoutAlign="start start"
                        fxLayoutGap="10px"
                    >
                        <div class="mb-0">
                            <mat-label>En qualitat de</mat-label>
                        </div>
                        <app-select-autocomplete
                            #category
                            *ngIf="this.categories$ | async"
                            placeholder="{{ 'Seleccioni un valor' }}"
                            fxFlex="50"
                            style="width: 100%"
                            [required]="false"
                            [bgWhite]="true"
                            [multiple]="false"
                            [disabled]="!inputFormService.form.get('data.is_active').value"
                            [data]="this.categories$ | async"
                            [canCreate]="false"
                            [control]="contact.relation"
                            formControlName="relation"
                            [matMinLength]="0"
                            [serverErrors]="getError(i,'relation')"
                            >
                        </app-select-autocomplete>
                    </div>
                </div>
                <div class="flex gap-4 mt-5" fxLayout.lt-sm="column">
                    <mat-form-field fxFlex="30" class="w-full">
                        <mat-icon
                            class="mr-2"
                            [svgIcon]="'heroicons_solid:user-circle'"
                        ></mat-icon>
                        <mat-label>Nom</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="first_name"
                        />
                        <mat-error>
                            <app-bcn-error [serverErrors]="getError(i,'first_name')">
                            </app-bcn-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="30">
                        <mat-label>Cognoms</mat-label>

                        <input
                            matInput
                            type="text"
                            formControlName="last_name"
                        />
                        <mat-error>
                                <app-bcn-error [serverErrors]="getError(i,'last_name')">
                                </app-bcn-error>
                            </mat-error>
                    </mat-form-field>
                    <div fxFlex="40" class="w-full gap-4">
                        <div
                            fxLayout="column"
                            fxFlex="30"
                            fxFlex.lt-sm="100"
                            fxLayoutAlign="start start"
                            fxLayoutGap="10px"
                        >
                            <div class="mb-0">
                                <mat-label>Tipus de document*</mat-label>
                            </div>
                            <app-select-autocomplete
                                class="w-full"
                                placeholder="{{ 'Triï un tipus' }}"
                                fxFlex="30"
                                formControlName="identification_type"
                                [required]="true"
                                [bgWhite]="true"
                                [multiple]="false"
                                [disabled]="!inputFormService.form.get('data.is_active').value"
                                [serverErrors]="getError(i,'identification_type')"
                                #selectDNI
                                [data]="[
                                    { id: 'dni', name: 'DNI' },
                                    { id: 'nie', name: 'NIE' },
                                    { id: 'passport', name: 'Passaport' }
                                ]"
                                [control]="
                                    inputFormService.form.controls['data'][
                                        'controls'
                                    ].identification_type
                                "
                                [matMinLength]="0"
                                >
                            </app-select-autocomplete>
                        </div>

                        <mat-form-field fxFlex class="w-full">
                            <mat-icon
                                class="mr-2"
                                [svgIcon]="'heroicons_solid:identification'"
                            ></mat-icon>
                            <mat-label>Document identificatiu</mat-label>
                            <input
                                matInput
                                type="text"
                                formControlName="identification"
                                [required]="
                                    this.showService.canShow(
                                        'required_contact_type',
                                        [contact.value]
                                    )
                                "
                            />
                            <mat-error>
                                <app-bcn-error [serverErrors]="getError(i,'identification')">
                                </app-bcn-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex gap-4" fxLayout.lt-sm="column">
                    <mat-form-field fxFlex="50">
                        <mat-icon
                            class="mr-2"
                            [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                        <mat-label>Correu electrònic</mat-label>
                        <input matInput type="email" formControlName="email" />
                        <mat-error>
                            <app-bcn-error [serverErrors]="getError(i,'phone')"></app-bcn-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <mat-icon
                            class="mr-2"
                            [svgIcon]="'heroicons_solid:phone'"
                        ></mat-icon>
                        <mat-label>Telèfon</mat-label>

                        <input matInput type="text" formControlName="phone" />
                        <mat-error>
                            <app-bcn-error [serverErrors]="getError(i,'phone')">
                            </app-bcn-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</form>
