<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="border-gray-300 rounded-2xl">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit porttitor lacinia at potenti sagittis, nibh et
                congue lacus quam. Sed auctor velit gravida ultrices id est imperdiet lacus mauris at rhoncus sodales
                orci luctus, euismod aenean diam interdum habitant mi netus potenti justo eu libero ad. Ridiculus nibh
                maecenas donec odio platea curabitur penatibus massa, magna laoreet dictum non sapien accumsan. Molestie
                pellentesque duis maecenas proin donec eros penatibus, rutrum posuere pretium himenaeos ultrices
                ridiculus orci, tellus id massa torquent facilisis malesuada.</p>
            <br>
            <p>Aliquam hac ornare porttitor primis luctus lobortis mauris sed mus, tortor quam sem convallis sapien
                magna lacus pretium lectus et, erat ultricies dis maecenas donec orci libero egestas. Suscipit sagittis
                turpis fringilla nec vel donec varius potenti bibendum aliquet porttitor pretium, dapibus montes viverra
                placerat nulla maecenas justo quam sociosqu neque aliquam non, sollicitudin rhoncus condimentum erat
                rutrum ullamcorper laoreet in dis velit accumsan. Interdum tristique varius dignissim eu mauris torquent
                vehicula est enim purus, suscipit aenean class ornare et mollis vivamus nullam odio montes, nunc donec
                ut tempor nascetur semper massa aliquet integer.</p>
            <br>
            <p>Vestibulum eget egestas ligula placerat in dui nam scelerisque maecenas ad, aenean eleifend himenaeos
                risus morbi condimentum malesuada semper at sapien, nunc et accumsan ultrices ante tincidunt diam mattis
                dictumst. Congue sagittis ultricies cum habitasse massa vestibulum neque, nisl egestas class phasellus
                vivamus velit, volutpat felis aptent aliquet lectus blandit. Ad dis vel luctus enim metus convallis sed
                nascetur tristique, a nullam massa diam himenaeos integer suscipit et, nam lacinia dictumst senectus
                rhoncus eleifend ac praesent. Justo accumsan pellentesque tellus taciti nibh donec ornare sapien
                consequat, facilisis interdum pharetra phasellus vivamus quis congue eu, ut leo magnis tortor a dictum
                urna fusce.</p>
            <br>
            <p>Curabitur porta luctus lacinia duis et cursus enim, primis dis feugiat sociis lectus leo id vestibulum,
                dignissim at senectus fusce praesent rhoncus. Metus porttitor quisque laoreet montes augue iaculis
                vehicula, donec egestas ultrices nisl velit mus nisi vitae, enim fusce quam fames pretium viverra.
                Lobortis etiam neque mi varius purus iaculis dictum luctus mollis tortor potenti, enim curabitur duis at
                nam ligula odio platea tristique congue, vehicula laoreet cursus libero proin quisque senectus facilisi
                ad taciti.</p>
        </div>

    </div>

</div>
