<ng-template #loading>
    <app-fake-loading *ngIf="loading" [type]="'simple-form'"></app-fake-loading>
</ng-template>

<div *ngIf="formService; else loading">

    <form *ngIf="user || !isEdit"
          #formElement
          fxLayout="column"
          fxLayoutAlign="start"
          fxFlex="100"
          class="w-full"
          name="form"
          [formGroup]="formService.form.get('data')">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field class="w-full">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                <mat-label>Correu electrònic</mat-label>
                <input matInput type="email" placeholder="Correu electrònic" formControlName="email" required>
                <mat-error>
                    <app-bcn-error [serverErrors]="[serverErrors?.email]"
                                   [control]="formService.form.controls['data']['controls'].email"></app-bcn-error>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="w-full"
                            *ngIf="!(formService.form.get('data.email').value)?.includes('@aspb.cat')">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                <mat-label>Nom de l'empresa</mat-label>
                <input matInput type="text" placeholder="Nom de l'empresa" formControlName="company_name" required>
                <mat-error>
                    <app-bcn-error [serverErrors]="[serverErrors?.company_name]"
                                   [control]="formService.form.controls['data']['controls'].company_name"></app-bcn-error>
                </mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field class="w-full">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <mat-label>Nom</mat-label>
                <input matInput type="text" placeholder="Nom" formControlName="first_name"
                       [required]="!(formService.form.get('data.email').value)?.includes('@aspb.cat')">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.first_name"
                                   [control]="formService.form.controls['data']['controls'].first_name"></app-bcn-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <mat-label>Cognoms</mat-label>
                <input matInput type="text" placeholder="Cognoms" formControlName="last_name"
                       [required]="!(formService.form.get('data.email').value)?.includes('@aspb.cat')"
                       disabled>
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.last_name"
                                   [control]="formService.form.controls['data']['controls'].last_name"></app-bcn-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full"
                            *ngIf="(formService.form.get('data.email').value)?.includes('@aspb.cat')">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                <mat-label>Matricula</mat-label>
                <input matInput type="text" placeholder="Matricula" formControlName="registration_number">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.registration_number"
                                   [control]="formService.form.controls['data']['controls'].registration_number"></app-bcn-error>
                </mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px">

            <mat-form-field class="w-full">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                <mat-label>Telèfon</mat-label>
                <input matInput type="text" placeholder="Telèfon" formControlName="phone">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.phone"
                                   [control]="formService.form.controls['data']['controls'].phone"></app-bcn-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:device-phone-mobile'"></mat-icon>
                <mat-label>Telèfon mòbil</mat-label>
                <input matInput type="text" placeholder="Telèfon mòbil" formControlName="mobile_phone">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.mobile_phone"
                                   [control]="formService.form.controls['data']['controls'].mobile_phone"></app-bcn-error>
                </mat-error>
            </mat-form-field>

            <!--            //DEPARTAMENTO-->
            <mat-form-field class="w-full"
                            *ngIf="(formService.form.get('data.email').value)?.includes('@aspb.cat')">
                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:inbox-stack'"></mat-icon>
                <mat-label>Servei</mat-label>
                <input matInput type="text" placeholder="Servei" formControlName="department">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.department"
                                   [control]="formService.form.controls['data']['controls'].department"></app-bcn-error>
                </mat-error>
            </mat-form-field>


        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="20px">

            <div fxLayout="column" class="w-full" fxLayoutAlign="start start" fxLayoutGap="10px">
                <div fxLayout="row">
                    <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                    <mat-label>Referent en</mat-label>
                </div>
                <app-area-autocomplete
                    placeholder="{{'Seleccioni un valor'}}"
                    fxFlex="100"
                    style="width:100%"
                    [required]="false"
                    [bgWhite]="true"
                    [multiple]="true"
                    [type]="'reference_in'"
                    [canCreate]="true"
                    [serverErrors]="serverErrors?.reference_in"
                    [control]="formService.form.controls['data']['controls'].reference_in"
                    formControlName="reference_in"
                    id="area-autocomplete"
                    (emit)="areaAutocompleteComponent.prepareAreaList()"
                    [matMinLength]="0">
                </app-area-autocomplete>
            </div>


            <div fxLayout="column" class="w-full" fxLayoutAlign="start start" fxLayoutGap="10px">
                <div fxLayout="row">
                    <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-group'"></mat-icon>
                    <mat-label>Rol*</mat-label>
                </div>
                <app-rol-autocomplete
                    placeholder="{{'Seleccioni un valor'}}"
                    fxFlex="100"
                    style="width:100%"
                    [required]="true"
                    [bgWhite]="true"
                    [multiple]="true"
                    [serverErrors]="serverErrors?.roles"
                    [control]="formService.form.controls['data']['controls'].roles"
                    formControlName="roles"
                    id="role-autocomplete"
                    [matMinLength]="0">
                </app-rol-autocomplete>
            </div>
            <!--            //Cargo-->
            <div fxLayout="column"  fxLayoutAlign="start start" fxLayoutGap="10px"
                 *ngIf="(formService.form.get('data.email').value)?.includes('@aspb.cat')"
                 class="inputAutocomplete w-full">
                <div fxLayout="row">
                    <mat-label>Càrrec</mat-label>
                </div>
                <mat-form-field fxFlex class="w-full">
                    <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:rectangle-group'"></mat-icon>
                    <!--                    <mat-label>Càrrec</mat-label>-->

                    <input matInput type="text" placeholder="Càrrec" formControlName="charge">
                    <mat-error>
                        <app-bcn-error [serverErrors]="serverErrors?.charge"
                                       [control]="formService.form.controls['data']['controls'].charge"></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" class="mt-5">
            <mat-checkbox *ngIf="(formService.form.get('data.email').value)?.includes('@aspb.cat')"
                          fxFlex="32"
                          style="min-height: 95px; !important"
                          [color]="'primary'"
                          formControlName="is_inspector">
                Inspector/a
            </mat-checkbox>

            <mat-form-field fxFlex="32"
                            *ngIf="(formService.form.get('data.email').value)?.includes('@aspb.cat') &&
                            formService.form.get('data.is_inspector').value">

                <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:magnifying-glass-circle'"></mat-icon>
                <mat-label>Nombre d'inspeccions mensuales</mat-label>
                <input matInput type="number" placeholder="Nombre d'inspeccions setmanals"
                       formControlName="weekly_inspections">
                <mat-error>
                    <app-bcn-error [serverErrors]="serverErrors?.weekly_inspections"
                                   [control]="formService.form.controls['data']['controls'].weekly_inspections"></app-bcn-error>
                </mat-error>
            </mat-form-field>
        </div>


        <div fxLayout="row" class="mt-32" fxLayoutAlign="end center" fxLayoutGap="20px">
            <button *ngIf="isEdit" mat-button (click)="cancelEdit($event)">
                Cancel·lar
            </button>
            <!--                    [disabled]="this.formService.form.get('data.contact_interests').value.length === 0"-->
            <!--                    [bcnWaitingButton]="formService.loading$ | async"-->
            <button id="save_button" type="submit" mat-raised-button color="accent"
                    (click)="submit()">
                <mat-icon aria-label="nou usuari">save</mat-icon>
                {{submitBtnText}}
            </button>
        </div>


    </form>
</div>
