<div *ngIf="initialized && prevNextService.entityType == entityType && prevNextService.position(entityId) !== null">

  <button mat-icon-button type="button"
          class="mat-paginator-navigation-previous"
          [disabled]="!prevNextService.hasPrev(entityId)"
          (click)="prev()">
    <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
    </svg>
  </button>

  {{ prevNextService.position(entityId) + 1 }} de {{ prevNextService.count }}

  <button mat-icon-button type="button"
          class="mat-paginator-navigation-next"
          [disabled]="!prevNextService.hasNext(entityId)"
          (click)="next()">
    <svg class="mat-paginator-icon" viewBox="0 0 24 24" focusable="false">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
    </svg>
  </button>

</div>
