:host {

    .folded:not(.unfolded) & {

        > .group-title {
            align-items: center;

            > span {
                opacity: 0;
                transition: opacity 200ms ease;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                min-width: 1.6rem;
                border-top: 2px solid;
                opacity: 0.2;
            }
        }
    }

    display: block;

    > .group-title {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        font-weight: 500;
        padding-left: 24px;
        margin-top: 8px;
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;
    }
}
