<ng-container *ngIf="!item.hidden">

    <div class="group-title">
        <span class="hint-text">{{ item.title }}</span>
    </div>

    <div class="group-items">
        <ng-container *ngFor="let item of item.children">
            <ng-container *ngIf="isAllowed(item) | async">
              <bcn-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></bcn-nav-vertical-group>
              <bcn-nav-vertical-collapsable *ngIf="item.type=='collapsable'"
                                            [item]="item"></bcn-nav-vertical-collapsable>
              <bcn-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></bcn-nav-vertical-item>
            </ng-container>
        </ng-container>
    </div>

</ng-container>
