.custom-tags {
    color: white;
    text-align: center;
    border-radius: 3px;
    //padding: 0 8px;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    min-height: 52px;
    height: 100%;
    width: 100%;
}


.ng-select {
    height: 100% !important;
}

::ng-deep {
    .ng-select.ng-select-single .ng-select-container {
        min-height: 52px;
    }

    //.custom-tags.multiple .ng-select-container {
    //    min-height: 52px !important;
    //    background-color: #fff !important;
    //}
    //
    //.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    //    background-color: #fff !important;
    //}
    //
    //.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value {
    //    border: none !important;
    //}
    //
    //.bgcolor_white {
    //    height: 52px;
    //
    //    .multiple {
    //        height: 52px !important;
    //    }
    //
    //    .ng-select-container {
    //        background-color: white !important;
    //    }
    //}
    //
    //.multiple .ng-placeholder {
    //    padding-bottom: 12px;
    //}
    //
    //.multiple .ng-arrow-wrapper {
    //    //margin-bottom: -16px;
    //}

}
