<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; align-items: center; justify-content: center;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign in</ion-title>
    </ion-toolbar>
  </ion-header>

  <loader>∫</loader>

  <ion-card class="login-form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input 
          labelPlacement="floating"
          label="Username or email"
          placeholder="Enter username/email"
          fill="outline"
        ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input 
          labelPlacement="floating" 
          type="password"
          label="Password"
          placeholder="Enter password"
          [clearInput]="true"
          fill="outline"
        ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-button type="submit" (click)="login()">Sign in</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>

</ion-content>
