ion-content {--overflow: hidden}

.login-form{
    padding: 10px;
    top: 50%;
    transform: translateY(-120%);
}

.login-form ion-input{
    margin: 10px 0px;
}

.login-form ion-button{
    margin: auto 0px;
}