<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p *ngIf="data?.text">{{data.text}}</p>
  <p *ngIf="data.html" [innerHTML]="data.html"></p>
  <ul *ngIf="data.warnings" class="warnings">
    <li *ngFor="let w of data.warnings">{{w}}</li>
  </ul>
</div>
<div mat-dialog-actions class="text-right" fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="false">{{data.buttonCancel}}</button>
  <button *ngIf="data.buttonAux" mat-button [mat-dialog-close]="'auxtrue'">{{data.buttonAux}}</button>
  <button mat-button [mat-dialog-close]="true" id="dialog_confirm" mat-raised-button color="accent">{{data.buttonConfirm}}</button>
</div>
