<div id="error-403" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="icon"><mat-icon inline>error</mat-icon></div>
        <div class="error-code">403</div>

        <div class="message" i18n>No esteu autoritzat per accedir a aquesta pàgina.</div>
        <div class="message2" i18n>Si penseu que és error nostre, contacteu amb nosaltres.</div>

        <a class="back-link" href="javascript:void(0)" (click)="goBack()" i18n>Tornar</a>

    </div>

</div>
