#error-403 {
  width: 100%;

  .content {
      width: 90%;
      max-width: 512px !important;

      .icon{
        font-size:100px;
        color: #ddd;
        margin-top: -105px;
      }

      .message2{
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 24px;
      }

      .error-code {
          font-size: 112px;
          text-align: center;
          line-height: 1;
          margin-bottom: 16px;
          font-weight: 600;
      }

      .message {
          font-size: 23px;
          text-align: center;
      }



      .back-link {
          font-size: 15px;
          text-align: center;
      }
  }
}
