mat-icon.error {
    color: #f7bbbb;
}

mat-label {
    font-weight: 500;
    color:#334767;
}


mat-list{
    border-bottom: 1px solid #f2f2f2;
    padding: 0;
}

h1{
    font-weight: bold;
}


mat-expansion-panel {
    overflow-y: none;
}
