ion-button{
  margin: 20px 22px;
  width: 90%;
  display: block;
}

ion-input {
  margin: 5px;
  border-radius: 10px;
}

ion-list {
  background-color: transparent!important;
}

ion-item {
  --ion-item-background: transparent!important;
}
