<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <form [formGroup]="registerForm" class="login-form" (ngSubmit)="checkUsername(registerForm.value)">
    <ion-list lines="none">
      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          label="Email"
          labelPlacement="floating"
          fill="solid">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="login-button" type="submit">Next</ion-button>
  </form>
</ion-content>
