<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/login'></ion-back-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-step-check-email 
    *ngIf="current_step == CHECK_EMAIL_STEP"
    (step)="changeStep($event)">
  </app-step-check-email>

  <app-step-check-username
    *ngIf="current_step == CHECK_USERNAME_STEP"
    (step)="changeStep($event)"
  ></app-step-check-username>

  <app-step-password
    *ngIf="current_step == PASSWORD_STEP"
  ></app-step-password>

</ion-content>
