<ng-select
    appendTo="body"
    (change)="setNeighborhoodGeo($event)"
    [placeholder]="placeholder+(required ? ' *':'')"
    [attr.aria-label]="placeholder"
    [attr.required]="required"
    [items]="neighborhoodGeo$ | async"
    [multiple]="multiple"
    [hideSelected]="true"
    bindLabel="nom"
    bindValue="codi"
    [(ngModel)]="modelNeighborhoodGeo"
    [closeOnSelect]="true"
    [loading]="neighborhoodGeoLoading"
    [typeahead]="neighborhoodGeoInput$"
    [ngClass]="{'ng-select-error': (control && serverErrors && control.invalid)}"
>
    <ng-template ng-option-tmp let-item="item">
        <span fxLayout="row" fxLayoutAlign="start center">
            <span>{{item.nom}}</span>
        </span>
    </ng-template>
</ng-select>
<div class="ng-select-error-message" *ngIf="control && serverErrors">
    <app-bcn-error
        [serverErrors]="serverErrors"
        [control]="control"
    ></app-bcn-error>
</div>

