<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <ng-select fxFlex class="custom-tags"
               (change)="setUsers($event)"
               [placeholder]="placeholder+(required ? ' *':'')"
               [attr.required]="required"
               [items]="users$ | async"
               [multiple]="multiple"
               [hideSelected]="true"
               bindLabel="name"
               bindValue="id"
               [(ngModel)]="modelUsers"
               [closeOnSelect]="true"
               [loading]="usersLoading"
               [typeahead]="usersInput$"
               [disabled]="disabled"
               [ngClass]="{'ng-select-error': (control && serverErrors && control.invalid), 'bgcolor_white': bgWhite, 'multiple':multiple}">
        <ng-template ng-optgroup-tmp let-item="item">
        <span fxLayout="row" fxLayoutAlign="start center">
            <span>{{item.username}} {{item.email}}</span>
        </span>
        </ng-template>
        <ng-template ng-label-tmp let-item="item" let-clear="clear" *ngIf="multiple">
            <mat-chip-listbox aria-label="Selecció usuaris">
                <mat-chip [removable]="true"
                          (removed)="clear(item)">
                    {{item.username}} - {{item.first_name? item.first_name : "" }} {{item.last_name? item.last_name : "" }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-listbox>
        </ng-template>
        <ng-template ng-label-tmp ng-option-tmp let-item="item" *ngIf="!multiple">
            <span>{{item.username}} - {{item.first_name? item.first_name : "" }} {{item.last_name? item.last_name : "" }} </span>
        </ng-template>
    </ng-select>
</div>
<div class="ng-select-error-message" *ngIf="control && serverErrors">
    <app-bcn-error
        [serverErrors]="serverErrors"
        [control]="control"
    ></app-bcn-error>
</div>
