<ng-template #loading>
    <app-fake-loading *ngIf="loading" [type]="'simple-form'"></app-fake-loading>
</ng-template>

<div *ngIf="formService; else loading" style="height: 100%;">

    <div fxLayout="row" class="mb-2" fxLayoutAlign="end center" fxLayoutGap="20px">
        <button mat-icon-button (click)="goBack()" title="Tornar">
            <mat-icon aria-label="Tornar">arrow_back</mat-icon>
        </button>
        <button *ngIf="isEdit && !formService.form.get('data.is_active').value" id="release_button" mat-raised-button color="primary"
                (click)="subscribeIndret()">
            <mat-icon aria-label="nou usuari">done</mat-icon>
            Donar d'alta
        </button>
        <button id="cancel_button" *ngIf="isEdit && formService.form.get('data.is_active').value" mat-raised-button color="warn"
                (click)="cancelIndret()">
            <mat-icon aria-label="nou usuari">cancel</mat-icon>
            Donar de baixa
        </button>
        <button id="save_button" type="submit" mat-raised-button color="accent"
                (click)="submit()">
            <mat-icon aria-label="nou usuari">save</mat-icon>
            {{submitBtnText}}
        </button>
    </div>


    <mat-tab-group mat-stretch-tabs="false" style="height: 100%" mat-align-tabs="center">
        <mat-tab label="General" style="height: 100%">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="this.getErrors('general')"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                General
            </ng-template>
            <app-indrets-general  style="height: 100%;" [isEdit]="this.isEdit" [errors]="this.getErrors('general')"></app-indrets-general>
        </mat-tab>
        <mat-tab label="Titulars" style="height: 100%">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="this.getErrors('titularity')"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                
                Titulars
            </ng-template>
            <app-indrets-titulars style="height: 100%;" [documents_data]="this.indret?.documents_data"  [isEdit]="this.isEdit" [errors]="this.getErrors('titularity')"></app-indrets-titulars>
        </mat-tab>
        <mat-tab label="Contacte" style="height: 100%">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="this.getErrors('contacts')"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                Contacte
            </ng-template>
            <app-indrets-contacte style="height: 100%;"  [isEdit]="this.isEdit" [errors]="this.getErrors('contacts')"></app-indrets-contacte>
        </mat-tab>
        <mat-tab label="Documents">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="errorDocument"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                Documents
            </ng-template>
            <app-indrets-document [documentsErrors]="document"
                (returnDocument)="setDocument($event)"
                style="min-height: 500px"
                [isEdit]="this.isEdit"
                [indret]="this.indret"
                ></app-indrets-document>
        </mat-tab>
        <mat-tab label="Circuits" style="height: 100%;"  *ngIf="this.formService.form" style="height: 100%">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="this.getErrors('circuits')"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                Circuits
            </ng-template>

            <app-indrets-circuits style="height: 100%;"  [isEdit]="this.isEdit" [errors]="this.getErrors('circuits')"></app-indrets-circuits>
        </mat-tab>
        <mat-tab label="Registre Sanitari" *isShown="[[this.formService.form.get('data.types').value || this.formService.form.get('data.categories').value],[4]]">
            <ng-template mat-tab-label>
                <mat-icon class="error" *ngIf="this.getErrors('health_registry')"
                          [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                Registre Sanitari
            </ng-template>
                In Progress
        </mat-tab>
    </mat-tab-group>
</div>