mat-icon.error {
    color: #f7bbbb;
}

::ng-deep mat-label{
    color:#334767;
}
mat-tab-group{
    overflow: visible;
}

.red-snackbar {
    background-color: #B00020;
}

mat-expansion-panel {
    overflow:visible;
}