.custom-tags {
    color: white;
    text-align: start;
    border-radius: 6px;
    //padding: 0 8px;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    min-height: 50px;
    height: 100%;
}

ng-select {
    width: 10px;
}

::ng-deep {
    .ng-select .ng-select-container{
        border-color: #cbd5e1;
    }
    .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container { 
        border-color: #4e96ae;
    }
    .ng-select.ng-select-focused > .ng-select-container { 
        border-color: #4e96ae;
    }
    .ng-select.ng-select-focused > .ng-select-bottom { 
        border-color: #4e96ae;
    }
    .ng-select.ng-select-focused > .ng-select-top { 
        border-color: #4e96ae;
    }
    
    .ng-select .ng-select-container .ng-value-container .ng-placeholder{
        color: #abbbcf;
    }

    .custom-tags.multiple .ng-select-container {
        min-height: 52px !important;
        background-color: #fff !important;
        border-color: #cbd5e1;
    }

    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        background-color: #fff !important;
    }

    .ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value {
        border: none !important;
    }

    .bgcolor_white {
        min-height: 50px;

        .multiple {
            min-height: 50px !important;
        }

        .ng-select-container {
            min-height: 50px;
            background-color: white !important;
        }
    }

    .multiple .ng-placeholder {
        padding-top: 2px;
        color: #cbd5e1;
    }


    .custom-tags {
        .mat-mdc-text-field-wrapper.mdc-text-field {
            max-height: 48px;
        }
    }

}
