<div class="flex flex-col">
    <form *ngIf="showSearch" autocomplete="off" [formGroup]="formService.form"
          fxFlex="90">
        <div fxLayout="column">


            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <!-- SEARCH -->
                <div class="search-wrapper my-5" fxFlex="30">
                    <div class="search" fxLayout="row" fxFlex.lt-sm="100" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Cerca"
                               formControlName="search"
                               id="search"
                               #quickSearchInput>
                        <button mat-button
                                matSuffix
                                id="clear_search"
                                *ngIf="quickSearchInput.value"
                                title="Borrar"
                                aria-label="Borrar"
                                (click)="clearSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- / SEARCH -->

                <div class="w-full" fxFlex="40">
                    <div class="search" fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                        <app-types-autocomplete
                            *ifAllowed="'general_master_tablestypes.list'"
                            placeholder="{{'Tipus de taula mestra'}}"
                            style="width: 100%;"
                            formControlName="type"
                            [required]="false"
                            [bgWhite]="true"
                            [multiple]="false"
                            (change)="changeAutocomplete()"
                            [matMinLength]="0">
                        </app-types-autocomplete>
                    </div>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
                <!--                <mat-checkbox-->
                <!--                    class="-ml-2"-->
                <!--                    [color]="'primary'"-->
                <!--                    (change)="changeAutocomplete()"-->
                <!--                    formControlName="is_visible">-->
                <!--                    Visible-->
                <!--                </mat-checkbox>-->

            </div>
        </div>
    </form>
    <app-paginated-table
        [styleConfig]="styleConfig" [resultsCount]="(dataSource.count$ | async)"
        [loading]="(dataSource.loading$ | async)" #paginatedTable>
        <table mat-table class="list-table contact-table" [dataSource]="dataSource" paginated-table-table>

            <ng-container matColumnDef="name">
                <th style="min-width:150px"
                    mat-header-cell *matHeaderCellDef>Nom
                </th>
                <td mat-cell class="name-cell"
                    *matCellDef="let master_table"
                    ngClass="{{'status' + master_table.is_visible}}">
                    {{master_table.name}}
                    <!--                    <ng-container *ngIf="master_table.last_name && master_table.first_name"> ,</ng-container> {{master_table.first_name}}-->
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th style="min-width:150px" mat-header-cell *matHeaderCellDef>Tipus de taula mestra</th>
                <td mat-cell class="name-cell"
                    *matCellDef="let master_table">
<!--                    {{master_table.type_name.name}}-->
                    {{completeTypeDict[master_table.type]?.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th style="width:145px; text-align:center" mat-header-cell *matHeaderCellDef>Accions</th>
                <td mat-cell class="actions-cell text-right" *matCellDef="let master_table">

                    <!--                            (click)="updateMasterTable(master_table.id)"-->
                    <div *ngIf="master_table.is_editable">

                        <button mat-icon-button
                                (click)="updateMasterTable(master_table.id)"
                                *ifAllowed="'general_master_tables.update'">
                            <mat-icon class="secondary-text" title="Edit" aria-label="Edit">edit</mat-icon>
                        </button>
                    </div>
                    <!--                    <button mat-icon-button-->
                    <!--                            *ifAllowed="'general_master_tables.read'"-->
                    <!--                            [routerLink]="'/general_master_tables/' + master_table.id">-->
                    <!--                        <mat-icon title="Veure" aria-label="Veure"-->
                    <!--                                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>-->
                    <!--                    </button>-->
                </td>
            </ng-container>

            <ng-template [ngIf]="showHeaderRow">
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            </ng-template>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

    </app-paginated-table>
</div>
