<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recetas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <a [routerLink]="['/recipes/new']" router-direction="forward">
          <ion-icon style="font-size: 30px;" name="add-outline"></ion-icon>
        </a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      show-cancel-button="focus" 
      placeholder="Search" 
      (ionChange)="handleSearch($event)">
      <!--(ionClear)="handleSearch($event)"-->
    </ion-searchbar>
    <div class="categories">
      <ion-chip 
        *ngFor="let category of recipeCategories"
        (click)="getRecipes([category.id])"
        [outline]="selectedCategory != category.id">
        {{category.name}}
      </ion-chip>
      <!-- Skeleton Categories chip -->
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 70px;"></ion-skeleton-text>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
      </ion-chip>
      <ion-chip [outline]="true">
        <ion-skeleton-text [animated]="true" style="width: 50;"></ion-skeleton-text>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">
    <ion-item *ngFor="let recipe of recipes">
      <ion-card [routerLink]="['/recipes/'+recipe.id]" class="plate-item">
        <ion-ripple-effect></ion-ripple-effect>
        <div
          class="plate-image"
          [ngStyle]="{'background-image': 'url(' + (recipe.image_data && recipe.image_data.image ? recipe.image_data.image: 'https://ionicframework.com/docs/img/demos/card-media.png') + ')'}"
        ></div>
        <ion-card-header>
          <ion-card-title>{{recipe.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              *ngFor="let category of recipe.category_data; let last = last"
              >{{category.name}}{{ last ? '' : ', ' }}</ion-text>
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{recipe.description}}
          <br>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon name="bug"></ion-icon>
                <ion-icon name="bug"></ion-icon>
                <ion-icon name="bug"></ion-icon>
              </ion-col>
              <ion-col size="auto">
                <ion-icon name="bookmark-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loaded" lines="none">
    <ion-item *ngFor="let dummy of ' '.repeat(3).split(''), let x = index">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-skeleton-text class="loading-image" [animated]="true"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 25%;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 70%;height: 20px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 80%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 75%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
