<form 
      [formGroup]="userForm"
      (ngSubmit)="createUser(userForm.value)"
  >
    <ion-list lines="none">
      <ion-item>
        <ion-input
          formControlName="first_name"
          label="Name"
          labelPlacement="floating"
          fill="solid">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          label="Password"
          labelPlacement="floating"
          fill="solid">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit">Save</ion-button>
  </form>