.image-circle{
    width: 100%;
    height: 300px;
    padding: 30px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.plate-content{
    position: relative; 
    top: -60px; 
    background-color: var(--ion-background-color, white);
    border-radius: 40px;
    padding: 50px 20px;
}

.edit-pencil{
    background-color: var(--ion-background-color, white);
    padding: 10px;
    color: var(--ion-color-primary, white);
    z-index: 1;
    position: absolute;
    right: 1px;
    margin: 10px;
    border-radius: 10px;
}