<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo plato
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="submit()">Hecho</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="recipeForm">
    <ion-icon name="pencil-outline" class="edit-pencil"></ion-icon>
    <app-image-picker (selectImage)="imageSelected($event)" [imageUrl]="selectedImage"></app-image-picker>
    <div class="plate-content">
      <ion-list>
        <ion-item>
          <ion-input 
            formControlName="name"
            labelPlacement="fixed" 
            label="Nombre"
            labelPlacement="floating">
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-textarea 
            formControlName="description"
            style="padding-bottom: 20px;"
            label="Descripcion"
            labelPlacement="floating">
          </ion-textarea>
        </ion-item>

        <ion-item>
          <ion-input 
            formControlName="diners"
            type="number" 
            label="Comensales"
            labelPlacement="floating">
          </ion-input>
        </ion-item>

        <ion-item>
            <ion-input
            formControlName="time"
            label="Tiempo (min)"
            type="number"
            labelPlacement="floating">
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-select
            formControlName="category"
            (ionChange)="handleChangeCategorySelect($event)"
            labelPlacement="fixed"
            label="Categorias"
            [multiple]="true">
            <ion-select-option 
              *ngFor="let recipeCategory of recipeCategories" 
              [value]="recipeCategory.id"
              >
              {{recipeCategory.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select labelPlacement="fixed" label="Ingredientes" [multiple]="true">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>
    </div>
  </form>
</ion-content>
