<div fxLayout="column" fxLayoutAlign="center">

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <ng-content select="[paginated-table-search-form]"></ng-content>

        <div fxFlex fxLayout="row" fxLayoutAlign="end center" style="position:relative">
            <mat-spinner *ngIf="loading && !isOpenSelected" class="paginator-spinner" [diameter]="16"></mat-spinner>
            <bcn-paginator
                [ngClass]="{'hide': paginatorConfig === 'bottom' || paginatorConfig === 'none'}"
                class="topPaginator"
                #topPaginator
                [length]="resultsCount"
                [pageSize]="pageSizeOptions[1]"
                [pageSizeOptions]="pageSizeOptions"
                (page)="syncPaginators($event)"
                [hidePageSize]="pageSizeOptions.length == 1">
            </bcn-paginator>

        </div>


    </div>

    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex class="overflow-auto">
            <ng-content select="[paginated-table-table]"></ng-content>

            <app-no-results [messageType]="styleConfig" *ngIf="!loading && resultsCount === 0"></app-no-results>

            <app-fake-loading *ngIf="loading && resultsCount === 0" [type]="'list'"></app-fake-loading>

            <bcn-paginator
                [ngClass]="{'hide': paginatorConfig === 'top' || paginatorConfig === 'none' }"
                #bottomPaginator
                [length]="resultsCount"
                [pageSize]="pageSizeOptions[1]"
                [pageSizeOptions]="pageSizeOptions"
                (page)="syncPaginators($event)"
                [hidePageSize]="pageSizeOptions.length == 1">
            </bcn-paginator>
        </div>

        <div *ngIf="isOpenSelected && selectedAmount > 0" fxFlex="35">
            <div class="h-16">
                <mat-spinner *ngIf="loading" class="paginator-spinner" [diameter]="16"></mat-spinner>
            </div>
            <ng-content select="[paginated-table-multiple-select]"></ng-content>
        </div>
    </div>

</div>
