@import '@bcn/scss/bcn';

:host {
    display: flex;
    flex: 1 0 auto;

    #main-navigation {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    ::ng-deep .nav-item .nav-item a {
      padding-left: 59px;
    }

    .nav-item.open{
      background: rgb(228, 233, 233);
    }
}

/*
:host {

    > .nav-item {

        &.nav-collapsable {
            background: transparent;
            transition: background 200ms ease-in-out;

            &.open {
                background: rgba(0, 0, 0, 0.12);
            }
        }
    }

    > .nav-group {

        > .group-items {

            > .nav-collapsable {
                background: transparent;
                transition: background 200ms ease-in-out;

                &.open {
                    background: rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}*/



