/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

// Import BCN core library
//@import '@bcn/scss/core';
//@import 'themes';
//@import "../node_modules/@ng-select/ng-select/themes/material.theme.css";

.page-layout {
    width: 100%;

    .header {
        h1 {
            padding: 0;
            margin: 0;
            font-weight: bold;
        }

        h3 {
            color: #888;
            font-size: 14px;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }
    }
}
.list-table {
    width: 100%;
}
