<div class="page-layout simple full-width p-10">
    <!-- CONTENT -->
    <div class="container">
        <ng-template #loading>
            <app-fake-loading
                *ngIf="loading"
                [type]="'simple-form'"
            ></app-fake-loading>
        </ng-template>

        <!-- Contact form -->
        <div *ngIf="action$ | async as action; else loading">
            <app-actions-form
                [action]="action"
                [isNew]="false"
            ></app-actions-form>
        </div>
    </div>
</div>
