<form
    [formGroup]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')
    "
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxFlex="100"
    fxLayoutGap="22px"
>
    <div fxFlex="48" fxLayout="column">
        <mat-label> Subministrament</mat-label>
        <mat-checkbox fxLayout="row" formControlName="is_supply_intern" [disabled]="!InputformService.form.get('data.is_active').value"
            >Intern</mat-checkbox
        >
        <mat-checkbox fxLayout="row" formControlName="is_supply_extern" [disabled]="!InputformService.form.get('data.is_active').value"
            >Extern</mat-checkbox
        >
    </div>

    <mat-form-field fxFlex="48">
        <mat-label>Edat</mat-label>
        <mat-select
            formControlName="ages"
            aria-placeholder="Edat"
            placeholder="Marca els rangs d'edat"
            multiple
            [disabled]="!InputformService.form.get('data.is_active').value"
        >
            <mat-option value="0-3">0 a 3</mat-option>
            <mat-option value="4-6">4 a 6</mat-option>
            <mat-option value="7-9">7 a 9</mat-option>
            <mat-option value="9-12">9 a 12</mat-option>
        </mat-select>
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.ages"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].ages"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field
        fxFlex="48"
        *ngIf="
            InputformService.form
                .get('data.circuits.' + this.circuit_id + '.canteen.ages')
                .value?.includes('0-3')
        "
    >
        <mat-label>Nens amb biberò</mat-label>
        <input
            matInput
            type="number"
            formControlName="feeding_bottle_childs"
            placeholder="Numero de biberòs"
            [disabled]="!InputformService.form.get('data.is_active').value"
        />
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.feeding_bottle_childs"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].feeding_bottle_childs"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48">
        <mat-label>Dies servei</mat-label>
        <mat-select
            formControlName="week_days"
            aria-placeholder="Dies servei"
            placeholder="Marca els dies de servei"
            multiple
            [disabled]="!InputformService.form.get('data.is_active').value"
        >
            <mat-option
                *ngFor="let other of this.enumWeekday; let i = index"
                [value]="other.value"
                >{{ other.label }}</mat-option
            >
        </mat-select>
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.week_days"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].week_days"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48">
        <mat-label>Núm. menú sopar</mat-label>
        <input
            matInput
            type="number"
            formControlName="number_lunch_menus"
            placeholder="Núm. menú sopar"
            [disabled]="!InputformService.form.get('data.is_active').value"
        />
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.number_lunch_menus"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].number_lunch_menus"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48">
        <mat-label>Núm. menú dinar</mat-label>
        <input
            matInput
            type="number"
            formControlName="number_diner_menus"
            placeholder="Núm. menú dinar"
            [disabled]="!InputformService.form.get('data.is_active').value"
        />
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.number_diner_menus"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].number_diner_menus"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field
        fxFlex="48"
        *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.is_supply_extern'
            ).value
        "
    >
        <mat-label>Horari de recepció menjar</mat-label>
        <input
            matInput
            formControlName="reception_hours"
            placeholder="Horari"
            [disabled]="!InputformService.form.get('data.is_active').value"
        />
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.reception_hours"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].reception_hours"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <div fxFlex="48">
        <mat-checkbox matInput formControlName="has_donations"
            >Donació</mat-checkbox
        >
    </div>

    <div
        fxFlex="48"
        *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.has_donations'
            ).value
        "
        fxLayout="column"
    >
        <mat-label fxLayout="row">Adherit a projecte?</mat-label>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
            <mat-checkbox
                formControlName="is_attached_to_project"
                [disabled]="!InputformService.form.get('data.is_active').value"
            ></mat-checkbox>
            <mat-form-field
                fxFlex="90"
                *ngIf="
                    this.InputformService.form.get(
                        'data.circuits.' +
                            this.circuit_id +
                            '.canteen.is_attached_to_project'
                    ).value
                "
            >
                <input
                    matInput
                    formControlName="project_name"
                    placeholder="Nom del projecte"
                    [disabled]="!InputformService.form.get('data.is_active').value"
                />
            </mat-form-field>
            <mat-error>
                <app-bcn-error [serverErrors]="this.errors?.project_name"
                               [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].project_name"></app-bcn-error>
            </mat-error>
        </div>
    </div>

    <mat-form-field
        fxFlex="48"
        *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.is_supply_extern'
            ).value
        "
    >
        <mat-label>Tipus subministrament extern</mat-label>
        <mat-select
            formControlName="type_supply"
            aria-placeholder="Selecciona el tipus de subministrament"
            placeholder="Selecciona el tipus de subministramen"
            [disabled]="!InputformService.form.get('data.is_active').value"
        >
            <mat-option
                *ngFor="let other of this.enumTypeSupplyCanteen; let i = index"
                [value]="other.value"
                >{{ other.label }}</mat-option
            >
        </mat-select>
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.type_supply"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].type_supply"></app-bcn-error>
        </mat-error>
    </mat-form-field>
    <mat-form-field
        fxFlex="48"
        *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.is_supply_extern'
            ).value
        "
    >
        <mat-label>Tipus d'empresa subministrament extern</mat-label>
        <mat-select
            formControlName="type_supply_company"
            aria-placeholder="Selecciona el tipus de empresa"
            placeholder="Selecciona el tipus de empresa"
            [disabled]="!InputformService.form.get('data.is_active').value"
        >
            <mat-option
                *ngFor="
                    let other of this.enumTypeSupplyCanteenCompany;
                    let i = index
                "
                [value]="other.value"
                >{{ other.label }}</mat-option
            >
        </mat-select>
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.type_supply_company"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].type_supply_company"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <div fxFlex="48">
        <mat-checkbox
            *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.is_supply_extern'
            ).value
            "
            formControlName="supplies_others"
            [disabled]="!InputformService.form.get('data.is_active').value"
            >Subministra a altres</mat-checkbox
        >
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.supplies_others"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].supplies_others"></app-bcn-error>
        </mat-error>
    </div>

    <mat-form-field
        fxFlex="48"
        *ngIf="
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.is_supply_extern'
            ).value &&
            InputformService.form.get(
                'data.circuits.' + this.circuit_id + '.canteen.supplies_others'
            ).value
        "
    >
        <mat-label>Altres empreses subministrades</mat-label>
        <mat-select
            formControlName="other_supply_companies"
            aria-placeholder="Altres empreses subministrades"
            aria-placeholder="Selecciona altres de empresa subministrades"
            placeholder="Selecciona altres de empresa subministrades"
            [disabled]="!InputformService.form.get('data.is_active').value"
        >
            <mat-option
                *ngFor="
                    let other of this.enumTypeOtherSupplyCanteenCompany;
                    let i = index
                "
                [value]="other.value"
                >{{ other.label }}</mat-option
            >
        </mat-select>
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.other_supply_companies"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].other_supply_companies"></app-bcn-error>
        </mat-error>
    </mat-form-field>

    <div fxFlex="48">
        <mat-checkbox matInput formControlName="is_internal_management"
        [disabled]="!InputformService.form.get('data.is_active').value"
            >Gestió Intern</mat-checkbox
        >
        <mat-error>
            <app-bcn-error [serverErrors]="this.errors?.is_internal_management"
                           [control]="InputformService.form.get('data.circuits.' + this.circuit_id + '.canteen')['controls'].is_internal_management"></app-bcn-error>
        </mat-error>
    </div>
</form>
