<div class="flex flex-col">
    <form *ngIf="showSearch" autocomplete="off" [formGroup]="formService.form"
          fxFlex="90">
        <div fxLayout="column">


            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <!-- SEARCH -->
                <div class="search-wrapper my-5" fxFlex="30">
                    <div class="search" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Cerca"
                               formControlName="search"
                               id="search"
                               #quickSearchInput>
                        <button mat-button
                                matSuffix
                                id="clear_search"
                                *ngIf="quickSearchInput.value"
                                title="Borrar"
                                aria-label="Borrar"
                                (click)="clearSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- / SEARCH -->

                <div class="w-full" fxFlex="40">
                    <div class="search" fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                        <app-area-autocomplete
                            *ifAllowed="'general_master_tables.list'"
                            placeholder="{{'Referent en'}}"
                            style="width: 100%;"
                            formControlName="reference_in"
                            [required]="false"
                            [bgWhite]="true"
                            [multiple]="true"
                            [type]="'reference_in'"
                            (change)="changeAutocomplete()"
                            id="area-autocomplete"
                            [matMinLength]="0">
                        </app-area-autocomplete>
                    </div>
                </div>

                <div class="w-full" fxFlex="40">
                    <div class="search" fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                        <app-rol-autocomplete
                            *ifAllowed="'user_role.list'"
                            placeholder="{{'Rol'}}"
                            style="width: 100%;"
                            formControlName="roles"
                            [required]="false"
                            [bgWhite]="true"
                            [multiple]="true"
                            (change)="changeAutocomplete()"
                            id="role-autocomplete"
                            [matMinLength]="0">
                        </app-rol-autocomplete>
                    </div>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
                <mat-checkbox
                    class="-ml-2"
                    [color]="'primary'"
                    (change)="changeAutocomplete()"
                    formControlName="is_active">
                    Actiu
                </mat-checkbox>

            </div>
        </div>
    </form>
    <app-paginated-table
        [styleConfig]="styleConfig" [resultsCount]="(dataSource.count$ | async)"
        [loading]="(dataSource.loading$ | async)" #paginatedTable>
        <table mat-table class="list-table contact-table" [dataSource]="dataSource" paginated-table-table>

            <ng-container matColumnDef="name">
                <th style="min-width:150px"
                    mat-header-cell *matHeaderCellDef>Nom
                </th>
                <td mat-cell class="name-cell"
                    *matCellDef="let user"
                    ngClass="{{'status' + user.is_active}}">
                    {{user.last_name}}
                    <ng-container *ngIf="user.last_name && user.first_name"> ,</ng-container>
                    {{user.first_name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th style="min-width:150px" mat-header-cell *matHeaderCellDef>Correu electrònic</th>
                <td mat-cell class="name-cell"
                    *matCellDef="let user">
                    {{user.email}}
                </td>
            </ng-container>

            <ng-container matColumnDef="rol">
                <th style="min-width:150px" mat-header-cell *matHeaderCellDef>Rol</th>
                <td mat-cell class="name-cell"
                    *matCellDef="let user">
                    <ng-container *ngFor="let rol of user.roles; let i = index">
                        {{completeRoleDict[rol]?.role_display | titlecase}}
                        <ng-container *ngIf="i < user.roles.length -1">,</ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="area">
                <th style="min-width:150px" mat-header-cell *matHeaderCellDef>Referent en</th>
                <td mat-cell class="name-cell"
                    *matCellDef="let user">
                    <ng-container *ngFor="let area of user.reference_in; let i = index">
                        {{completeAreaDict[area]?.name | titlecase}}
                        <ng-container *ngIf="i < user.reference_in.length -1">,</ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="department">
                <th style="min-width:150px" mat-header-cell *matHeaderCellDef>Servei</th>
                <td mat-cell class="name-cell"
                    *matCellDef="let user">
                    {{user.department}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th style="width:145px; text-align:center" mat-header-cell *matHeaderCellDef>Accions</th>
                <td mat-cell class="actions-cell text-right" *matCellDef="let user">

                    <button mat-icon-button
                            *ifAllowed="'user.update'"
                            [routerLink]="'/users/' + user.id +'/edit'">
                        <mat-icon class="secondary-text" title="Edit" aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            *ifAllowed="'user.read'"
                            [routerLink]="'/users/' + user.id">
                        <mat-icon title="Veure" aria-label="Veure"
                                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-template [ngIf]="showHeaderRow">
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            </ng-template>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

    </app-paginated-table>
</div>
