<form
    *ngIf="formServiceIndret.form.get('data')"
    #formElement
    style="min-height: 700px !important;"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="100"
    fxLayoutGap="10px"
    name="form"
    [formGroup]="formServiceIndret.form.get('data')"
>
    <div class="mt-4" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="addCircuit()" [disabled]="!formServiceIndret.form.get('data.is_active').value">
            <mat-icon>add</mat-icon>Afegir circuit
        </button>
    </div>
    <div fxLayout="row" fxFlex="100">
        <div fxFlex="100" formArrayName="circuits" fxLayout="column">
            <div
                *ngFor="
                    let circuit of this.formServiceIndret.form.get(
                        'data.circuits'
                    )['controls'];
                    let i = index
                "
            >
                <div [formGroupName]="i" fxLayout="column" fxFlex="100">
                    <mat-accordion fxFlex="100">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title
                                    fxLayoutAlign="space-between center"
                                >
                                    <mat-icon
                                        class="error"
                                        *ngIf="this.errors && this.errors[index]"
                                        [svgIcon]="
                                            'heroicons_outline:exclamation-circle'
                                        "
                                    ></mat-icon>
                                    {{
                                        circuit.value.name
                                            ? circuit.value.name
                                            : "Circuit " + i
                                    }}

                                    <mat-chip-listbox
                                        *ngIf="
                                            this.formServiceIndret.form.get(
                                                'data.circuits.' + i
                                            ).value &&
                                            this.formServiceIndret.form.get(
                                                'data.circuits.' + i + '.id'
                                            ).value
                                        "
                                    >
                                  
                                        <mat-chip-option
                                        color="primary"
                                        [selectable]="false"
                                        [selected]="this.formServiceIndret.form.get('data.circuits.' +i +'.is_active').value"
                                        >{{
                                            this.formServiceIndret.form.get(
                                                "data.circuits." +
                                                    i +
                                                    ".is_active"
                                            ).value
                                                ? "Activat"
                                                : "Desactivat"
                                        }}</mat-chip-option>
                                    </mat-chip-listbox>
                                    <button
                                        mat-button
                                        *ngIf="
                                            !this.formServiceIndret.form.get(
                                                'data.circuits.' + i + '.id'
                                            ).value
                                        "
                                        (click)="this.removeCircuit(i)"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="flex flex-col">
                                <div
                                    fxLayout="row"
                                    fxFlex="100"
                                    fxLayoutGap="10px"
                                    fxFlexAlign="end"
                                >
                                    <mat-slide-toggle
                                        *ngIf="
                                            this.formServiceIndret.form.get(
                                                'data.circuits.' + i + '.id'
                                            ).value
                                        "
                                        [disabled]="!formServiceIndret.form.get('data.is_active').value"
                                        [checked]="
                                            this.formServiceIndret.form.get(
                                                'data.circuits.' +
                                                    i +
                                                    '.is_active'
                                            ).value
                                        "
                                        (change)="
                                            this.formServiceIndret.form
                                                .get(
                                                    'data.circuits.' +
                                                        i +
                                                        '.is_active'
                                                )
                                                .setValue($event.checked)
                                        "
                                        >{{
                                            this.formServiceIndret.form.get(
                                                "data.circuits." +
                                                    i +
                                                    ".is_active"
                                            ).value
                                                ? "Activat"
                                                : "Desactivat"
                                        }}
                                    </mat-slide-toggle>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxFlex="100"
                                    fxLayoutGap="10px"
                                >
                                    <mat-form-field fxFlex class="w-full">
                                        <mat-label>Nom circuit</mat-label>

                                        <input
                                            matInput
                                            type="text"
                                            formControlName="name"
                                            placeholder="Nom circuit"
                                        />
                                    </mat-form-field>
                                    <mat-error>
                                        <app-bcn-error [serverErrors]="getError(i,'name')">
                                        </app-bcn-error>
                                    </mat-error>

                                    <mat-form-field
                                        disabled="true"
                                        fxFlex
                                        class="w-full"
                                    >
                                        <mat-label>Alta</mat-label>

                                        <input
                                            matInput
                                            [matDatepicker]="datepicker"
                                            formControlName="registration_date"
                                        />
                                        <mat-datepicker-toggle
                                            matIconSuffix
                                            [for]="datepicker"
                                            disabled="true"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #datepicker
                                        ></mat-datepicker>
                                    </mat-form-field>
                                    <mat-error>
                                        <app-bcn-error [serverErrors]="getError(i,'registration_date')">
                                        </app-bcn-error>
                                    </mat-error>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxFlex="100"
                                    fxLayoutGap="10px"
                                >
                                    <div fxFlex class="w-full">
                                        <div class="mb-0">
                                            <mat-label>Tipus</mat-label>
                                        </div>
                                        <app-area-autocomplete
                                            [id]="'type'+i"
                                            placeholder="{{'Selecciona un tipus'}}"
                                            class="w-full"
                                            [required]="false"
                                            [bgWhite]="true"
                                            [multiple]="false"
                                            [type]="'indret_circuit_type'"
                                            [disabled]="!formServiceIndret.form.get('data.is_active').value"
                                            [control]="circuit.type"
                                            (change)="changeTipus()"
                                            formControlName="type"
                                            [matMinLength]="0"
                                            [serverErrors]="getError(i,'type')"
                                            >
                                        </app-area-autocomplete>
                                    </div>

                                    <mat-form-field fxFlex class="w-full">
                                        <mat-label>Baixa</mat-label>

                                        <input
                                            matInput
                                            [matDatepicker]="from"
                                            formControlName="termination_date"
                                        />
                                        <mat-datepicker-toggle
                                            matIconSuffix
                                            [for]="from"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker #from></mat-datepicker>
                                        <mat-error>
                                            <app-bcn-error [serverErrors]="getError(i,'termination_date')">
                                            </app-bcn-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxFlex="100"
                                    fxLayoutGap="10px"
                                    *ngIf="showTechnic(i)"
                                >
                                    <div fxLayout="column" fxFlex="100">
                                        <div class="mb-0" fxFlex="100">
                                            <mat-label>{{
                                                "Responsable tècnic del circuit" +
                                                    (requiredTechnic(i)
                                                        ? " *"
                                                        : "")
                                            }}</mat-label>
                                        </div>
                                        <ng-select
                                            fxFlex="100"
                                            [placeholder]="
                                                'Selecciona un responsable' +
                                                (requiredTechnic(i) ? ' *' : '')
                                            "
                                            [attr.required]="requiredTechnic(i)"
                                            [items]="this.tech_managers"
                                            [hideSelected]="true"
                                            [disabled]="!formServiceIndret.form.get('data.is_active').value"
                                            bindLabel="name"
                                            bindValue="id"
                                            formControlName="tech_responsible"
                                            [closeOnSelect]="true"
                                            [ngClass]="{
                                                'ng-select-error':
                                                    formServiceIndret.form
                                                        .controls[
                                                        'data.circuits.' + i
                                                    ].tech_responsible &&
                                                    serverErrors &&
                                                    formServiceIndret.form
                                                        .controls[
                                                        'data.circuits.' + i
                                                    ].tech_responsible.control
                                                        .invalid
                                            }"
                                        >
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <app-indrets-samplePoints
                                [circuit_id]="i"
                                [InputformService]="formServiceIndret"
                                [errors]="getError(i,'sample_points')"
                            ></app-indrets-samplePoints>

                            <mat-accordion *ngIf="showCanteen(i)">
                                <mat-expansion-panel class="mt-2">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span i18n> Menjador </span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-indrets-menjador
                                        [circuit_id]="i"
                                        [InputformService]="formServiceIndret"
                                        [errors]="getError(i,'canteen')"
                                    ></app-indrets-menjador>
                                </mat-expansion-panel>

                                <mat-expansion-panel
                                    *ngIf="showSupplyCompany(i)"
                                >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span i18n>
                                                Empresa Subministradora
                                            </span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-indrets-company
                                        [circuit_id]="i"
                                        [InputformService]="formServiceIndret"
                                        type="supply_company"
                                        [errors]="getError(i,'canteen').supply_company"
                                    ></app-indrets-company>
                                </mat-expansion-panel>

                                <mat-expansion-panel
                                    *ngIf="showManagementCompany(i)"
                                >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span i18n> Empresa Gestora </span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-indrets-company
                                        [circuit_id]="i"
                                        [InputformService]="formServiceIndret"
                                        type="management_company"
                                        [errors]="getError(i,'canteen').management_company"
                                    ></app-indrets-company>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion fxFlex="100">
        <mat-expansion-panel *ngIf="showHabits">
            <mat-expansion-panel-header>
                <mat-panel-title> Hàbits de consum </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayoutGap="10px">
                <mat-form-field fxFlex class="w-full">
                    <mat-label>Nombre d'usuaris</mat-label>

                    <input
                        matInput
                        type="number"
                        formControlName="number_users"
                    />
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.number_users"
                            [control]="formServiceIndret.form.controls['data']['controls'].number_users"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex class="w-full">
                    <mat-label>Ús habitual de l'aigua</mat-label>

                    <input
                        matInput
                        type="number"
                        formControlName="usual_water_usage"
                    />
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.usual_water_usage"
                            [control]="formServiceIndret.form.controls['data']['controls'].usual_water_usage"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex class="w-full">
                    <mat-label>Ús de l'aigua a les darreres 2h</mat-label>

                    <input
                        matInput
                        type="number"
                        formControlName="water_usage"
                    />
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.water_usage"
                            [control]="formServiceIndret.form.controls['data']['controls'].water_usage"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="showHabits">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- <mat-icon class="error" *ngIf="general?.habits?.error"
                                [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon> -->
                    Dades de l'edifici
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayout="column">
                <mat-checkbox fxFlex.xs="100" formControlName="before_1980"
                    >Edifici anterior a 1980</mat-checkbox
                >
                <mat-error>
                    <app-bcn-error
                        [serverErrors]="this.errors?.before_1980"
                        [control]="formServiceIndret.form.controls['data']['controls'].before_1980"
                    ></app-bcn-error>
                </mat-error>

                <mat-checkbox fxFlex.xs="100" formControlName="home_deposit"
                    >Depòsit domiciliaris</mat-checkbox
                >
                <mat-error>
                    <app-bcn-error
                        [serverErrors]="this.errors?.home_deposit"
                        [control]="formServiceIndret.form.controls['data']['controls'].home_deposit"
                    ></app-bcn-error>
                </mat-error>
            </div>

            <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayout="column">
                <mat-label fxFlex.xs="100" fxLayout="row"
                    >Règim de propietat</mat-label
                >
                <div fxFlex.xs="100" fxLayout="row">
                    <mat-radio-group
                        aria-label="Règim de propietat"
                        [formControlName]="'is_property'"
                        fxLayout="column"
                    >
                        <mat-radio-button value="true"
                            >Propiedad</mat-radio-button
                        >
                        <mat-radio-button value="false"
                            >Alquiler</mat-radio-button
                        >
                    </mat-radio-group>

                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.is_property"
                            [control]="formServiceIndret.form.controls['data']['controls'].is_property"
                        ></app-bcn-error>
                    </mat-error>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="this.showWater">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- <mat-icon class="error" *ngIf="general?.aigua?.error"
                                  [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon> -->
                    Aigua
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="flex flex-row gap-4">
                <div class="flex flex-col w-6/12">
                    <mat-checkbox formControlName="has_deposit"
                        >Dipòsit</mat-checkbox
                    >
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.has_deposit"
                            [control]="formServiceIndret.form.controls['data']['controls'].has_deposit"
                        ></app-bcn-error>
                    </mat-error>

                    <mat-form-field fxFlex class="w-full">
                        <mat-label>Ubicació</mat-label>

                        <input
                            matInput
                            type="text"
                            formControlName="deposit_location"
                        />
                        <mat-error>
                            <app-bcn-error
                                [serverErrors]="this.errors?.deposit_location"
                                [control]="formServiceIndret.form.controls['data']['controls'].deposit_location"
                            ></app-bcn-error>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex class="w-6/12 flex-col">
                    <mat-label>Procedència de l'aigua</mat-label>
                    <div fxFlex class="flex-col">
                        <mat-radio-group
                            fxFlex
                            class="flex flex-col"
                            formControlName="water_origin"
                        >
                            <mat-radio-button value="public"
                                >Pública</mat-radio-button
                            >
                            <mat-radio-button value="underground"
                                >Freàtica</mat-radio-button
                            >
                            <mat-radio-button value="regenerade"
                                >Regenerada</mat-radio-button
                            >
                        </mat-radio-group>
                        <mat-error>
                            <app-bcn-error
                                [serverErrors]="this.errors?.water_origin"
                                [control]="formServiceIndret.form.controls['data']['controls'].water_origin"
                            ></app-bcn-error>
                        </mat-error>
                    </div>
                </div>
            </div>

            <!--            <div class="flex flex-row gap-4 w-6/12">-->
            <!--              -->
            <!--            </div>-->
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="this.showAir">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- <mat-icon class="error" *ngIf="general?.aire?.error"
                                [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon> -->
                    Aire
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="flex flex-row gap-4">
                <mat-form-field fxFlex="20" class="w-full">
                    <mat-label>Codi</mat-label>

                    <input matInput type="text" formControlName="air_code" />
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.air_code"
                            [control]="formServiceIndret.form.controls['data']['controls'].air_code"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>

                <div fxFlex="10" class="w-full" fxLayout="column">
                    <mat-label>Hora</mat-label>
                    <input
                        class="inputTime"
                        [ngxTimepicker]="fullTime"
                        [format]="24"
                        readonly
                    />
                    <ngx-material-timepicker
                        #fullTime
                    ></ngx-material-timepicker>
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.inputTime"
                            [control]="formServiceIndret.form.controls['data']['controls'].inputTime"
                        ></app-bcn-error>
                    </mat-error>
                </div>
                <mat-form-field fxFlex="40" class="w-full" fxLayout="column">
                    <mat-label>Classificació I</mat-label>
                    <mat-select
                        formControlName="air_traffic"
                        aria-placeholder="Classificació I"
                        placeholder="Seleccioni un valor"
                    >
                        <mat-option value="false">Fons</mat-option>
                        <mat-option value="true">Trànsit</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.air_traffic"
                            [control]="formServiceIndret.form.controls['data']['controls'].air_traffic"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-row gap-4">
                <mat-form-field fxFlex="40" class="w-full" fxLayout="column">
                    <mat-label>Tipus d’estació</mat-label>
                    <mat-select
                        formControlName="air_works_manual"
                        aria-placeholder="Tipus d’estació"
                        placeholder="Seleccioni un valor"
                    >
                        <mat-option value="false">Automática</mat-option>
                        <mat-option value="true">Manual</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.air_works_manual"
                            [control]="formServiceIndret.form.controls['data']['controls'].air_works_manual"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="40" class="w-full" fxLayout="column">
                    <mat-label>Classificació II</mat-label>
                    <mat-select
                        formControlName="air_is_urban"
                        aria-placeholder="Classificació II"
                        placeholder="Seleccioni un valor"
                    >
                        <mat-option value="false">Suburban</mat-option>
                        <mat-option value="true">Urban</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.air_is_urban"
                            [control]="formServiceIndret.form.controls['data']['controls'].air_is_urban"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *isShown="[[this.formServiceIndret.form.get('data.circuit').value],[7]]">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- <mat-icon class="error" *ngIf="general?.tatuatge?.error"
                                [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon> -->
                    Tatuatge
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="flex flex-row gap-4">
                <mat-form-field fxFlex="50" fxFlex.lt-sm="100" class="w-full">
                    <mat-label>Autorizació sanitària</mat-label>

                    <input
                        matInput
                        type="text"
                        formControlName="health_auth_number"
                    />
                    <mat-error>
                        <app-bcn-error
                            [serverErrors]="this.errors?.health_auth_number"
                            [control]="formServiceIndret.form.controls['data']['controls'].health_auth_number"
                        ></app-bcn-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>
