<ng-template #loading>
    <app-fake-loading *ngIf="loading" [type]="'simple-form'"></app-fake-loading>
</ng-template>

<div class="page-layout simple full-width p-10"
     id="userview"
     *ngIf="(user$ | async) as user; else loading">

    <!-- CONTENT -->
    <div class="content"  fxLayout="column">
        <div class="header" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <h1 style="font-size: large;">{{user?.first_name | uppercase}}  {{user?.last_name | uppercase}} -  {{user?.username | uppercase}}</h1>
            <div class="actions" fxLayoutGap="10px">
                <go-back-button></go-back-button>
                <!--            <button *ifAllowed="'ContactPartialUpdateFormService'" -->
                <button mat-raised-button [routerLink]="'edit'" color="accent"
                        *ifAllowed="'user.update'">
                    Editar
                </button>
    
                <!--            <button *ifAllowed="'ContactDeleteFormService'" -->
                <button mat-raised-button (click)="deactivateUser(user.is_active)"
                        *ifAllowed="'user.update'"
                        [color]="user?.is_active ? 'warn' : 'primary'">
                    {{user?.is_active ? 'Desactivar' : 'Activar'}}
                </button>
            </div>
        </div>
        <div fxLayout="row" fxFlex="100">
            <div fxLayout="column"
                 fxLayoutAlign="center "
                 fxFlex="100">
    
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    
                    <mat-form-field fxFlex="32">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                        <mat-label>Correu electrònic</mat-label>
                        <input matInput type="email" placeholder="Correu electrònic" [value]="user?.email" disabled>
                    </mat-form-field>
    
                    <mat-form-field fxFlex="32"
                                    *ngIf="!(user.email).includes('@aspb.cat')">
    
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <mat-label>Nom de l'empresa</mat-label>
                        <input matInput type="text" placeholder="Nom de l'empresa" [value]="user?.company_name" disabled>
                    </mat-form-field>
    
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <mat-form-field fxFlex="32">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" placeholder="Nom" [value]="user?.first_name" disabled>
                    </mat-form-field>
    
                    <mat-form-field fxFlex="32">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-label>Cognoms</mat-label>
                        <input matInput type="text" placeholder="Cognoms" [value]="user?.last_name" disabled>
                    </mat-form-field>
    
                    <mat-form-field fxFlex="32" *ngIf="(user.email).includes('@aspb.cat')">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                        <mat-label>Matricula</mat-label>
                        <input matInput type="text" placeholder="Matricula" [value]="user?.registration_number" disabled>
                    </mat-form-field>
    
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    
                    <mat-form-field fxFlex="32">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        <mat-label>Telèfon</mat-label>
                        <input matInput type="text" placeholder="Telèfon" [value]="user?.phone" disabled>
                    </mat-form-field>
    
                    <mat-form-field fxFlex="32">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:device-phone-mobile'"></mat-icon>
                        <mat-label>Telèfon mòbil</mat-label>
                        <input matInput type="text" placeholder="Telèfon mòbil" [value]="user?.mobile_phone" disabled>
                    </mat-form-field>
    
                    <!--            //DEPARTAMENTO-->
                    <mat-form-field fxFlex="32" *ngIf="(user.email).includes('@aspb.cat')">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:inbox-stack'"></mat-icon>
                        <mat-label>Servei</mat-label>
                        <input matInput type="text" placeholder="Servei" [value]="user?.department" disabled>
                    </mat-form-field>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxLayout="column" fxFlex="32" fxLayoutAlign="start start" fxLayoutGap="10px">
                        <div fxLayout="row">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            <mat-label>Referent en</mat-label>
                        </div>
                        <app-area-autocomplete
                            placeholder="{{'Seleccioni un valor'}}"
                            fxFlex="100"
                            style="width:100%"
                            [required]="false"
                            [bgWhite]="true"
                            [type]="'reference_in'"
                            [multiple]="true"
                            [(ngModel)]="user.reference_in"
                            [canCreate]="true"
                            id="area-autocomplete"
                            [readonly]="true"
                            #area_autocomplete
                            [matMinLength]="0">
                        </app-area-autocomplete>
                    </div>
    
    
                    <div fxLayout="column" fxFlex="32" fxLayoutAlign="start start" fxLayoutGap="5px">
                        <div fxLayout="row">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:user-group'"></mat-icon>
                            <mat-label>Rol</mat-label>
                        </div>
                        <app-rol-autocomplete
                            placeholder="{{'Seleccioni un valor'}}"
                            fxFlex="100"
                            style="width:100%"
                            [required]="false"
                            [bgWhite]="true"
                            [multiple]="true"
                            [readonly]="true"
                            [(ngModel)]="user.roles"
                            id="role-autocomplete"
                            [matMinLength]="0">
                        </app-rol-autocomplete>
                    </div>
    
    
                    <!--            //Cargo-->
                    <div fxLayout="column" fxFlex="32" fxLayoutAlign="start start" fxLayoutGap="10px"
                         *ngIf="(user.email).includes('@aspb.cat')"
                         class="inputAutocomplete">
                        <div fxLayout="row">
                            <mat-label>Càrrec</mat-label>
                        </div>
                        <mat-form-field fxFlex class="w-full">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:rectangle-group'"></mat-icon>
                            <input matInput type="text" placeholder="Càrrec" [value]="user?.charge" disabled>
                        </mat-form-field>
    
                    </div>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"  class="mt-5">
                    <mat-checkbox *ngIf="(user.email).includes('@aspb.cat')"
                                  fxFlex="32"
                                  [color]="'primary'"
                                  [checked]="user?.is_inspector"
                                  disabled>
                        Inspector/a
                    </mat-checkbox>
    
                    <mat-form-field fxFlex="32" *ngIf="user.is_inspector">
    
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_solid:magnifying-glass-circle'"></mat-icon>
                        <mat-label>Nombre d'inspeccions setmanals</mat-label>
                        <input matInput type="number" placeholder="Nombre d'inspeccions setmanals"
                               [value]="user?.weekly_inspections" disabled>
                    </mat-form-field>
                </div>
    
    
            </div>
        </div>
    </div>
</div>
